/* You can add global styles to this file, and also import other style files */


/* Inicio content */

body {
    background-color: transparent;
    background-image: url(assets/background.jfif);
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

app-root {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
    justify-content: space-between;
}


/* Fin content */